<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img style="max-height: 100px;" src="{{ "/assets/img/icon_large.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 style="padding-bottom: 30px;">Crafting solutions of all shapes and sizes to get problems, solved.</h3>
                <a href="mailto:info@defining.tech" class="btn btn-defaults btn-lg cta-talk" type="submit">Lets Talk</a>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
