<div class="container mtb centered">
    <h3 class="mb">Meet Our Team</h3>
    <div class="github-widget" data-username="kbremner"></div>
    <script src="https://npmcdn.com/github-card@1.2.1/dist/widget.js"></script>
    <p>Kyle started Defining Technology with the goal of making great quality software, accessible. He can often be found at many of the meetups and
      conferences going on in Glasgow, Edinburgh and further afield. He is passionate about creating quality software that solves people's problems
      and also runs the <a href="http://buildbetter.tech" target="_blank">BuildBetter meetup</a>. In his spare time, he likes to explore the highlands of Scotland
      and plays the bagpipes in regular pipe band competitions.</p>
    <p>
      <a href="mailto:kyle@defining.tech"><i style="padding-right: 30px; font-size: 22px;" class="fa fa-envelope"></i></a>
      <a href="http://twitter.com/_kbremner"><i style="font-size: 22px;" class="fa fa-twitter"></i></p></a>
</div><! --/container -->
